extends layout
block content
    .container
        h1="CREA TU PDF PERSONALIZADO"
        .row.mt-3
            .col-md-8.card
                .row
                    .col-md-3
                        img(src="https://www.w3schools.com/howto/img_avatar.png", alt="avatar", width="50%")
                    .col-md-6
                        h4="NOMBre"
                        h6="Tel: 3112405413"
                        h6="Jamar.com"
                    .col-md-3
                        h3.
                            jamar
            .col-md-4
                include panel.pug
