.row.w-100.p-3
    .conten.w-100
        h4="Selecciona el tipo de campaña"
        ul(class="list-group")
            li(class='list-group-item')
                button(type="button" class="btn btn-primary w-100" ) Normal
            li(class='list-group-item') 
                button(type="button" class="btn btn-danger w-100" ) Aniversario
            li(class='list-group-item')
                button(type="button" class="btn btn-warning w-100" ) Outlet
            li(class='list-group-item')
                button(type="button" class="btn btn-success w-100") Vavidad
            li(class='list-group-item')
                button(type="button" class="btn btn-dark w-100" ) Back Friday
            